@import url("https://fonts.googleapis.com/css?family=Poppins:,regular,500&display=swap");

body{
   font-family: "Poppins";
   color: #171832;
}

.wrapper{
   overflow: hidden;
   position: relative;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.main{
   flex: 1 1 auto;
}

[class*="__container"]{
   max-width: 1170px;
   padding: 15px 0 15px;
   margin: 0 auto;
}


/* ==================================== HEADER  ======================================= */
.header {}

.header__container {

}

.header__logo {}

.header__menu {}

.menu {}

.menu__list {}

.menu__item {}

.menu__link {}

.header__button {}

.button {}



