@import url("https://fonts.googleapis.com/css?family=Poppins:,regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gelasio:500,600&display=swap");

body {
   font-family: "Poppins";
   color: #171832;
   background: #F8F8F8;
}

.wrapper {
   overflow: hidden;
   position: relative;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.main {
   flex: 1 1 auto;
}

.header__container,
[class*="__container"] {
   max-width: 1170px;
   padding: 0 15px;
   margin: 0 auto;
}

.button {
   background: #2D74FF;
   border-radius: 5px;
   padding: 15px 30px;
   font-weight: 500;
   font-size: 18px;
   line-height: 150%;
   letter-spacing: 0.02em;
   color: #FFFFFF;
   transition: opacity 0.500s;
}

.button:hover {
   opacity: 0.8;
}

.subtitle {
   font-weight: 500;
   font-size: 18px;
   line-height: 1.5;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: #2D74FF;
   opacity: 0.7;
   margin-bottom: 15px;
}

.text {
   font-size: 18px;
   line-height: 1.5;
   opacity: 0.7;
}

.title {
   font-family: 'Gelasio';
   font-weight: 500;
   font-size: 32px;
   line-height: 1.4;
   color: #171832;
}

/* ==================================== HEADER  ======================================= */

.header__container {
   max-width: 1180px;
   display: flex;
   min-height: 127px;
   align-items: center;
}

.header__logo {
   margin-right: 120px;
}

.header__menu {
   flex-grow: 1;
}

.menu__list {
   display: flex;
   flex-wrap: wrap;
   column-gap: 40px;
   row-gap: 10px;
}

.menu__link {
   opacity: 0.7;
   font-weight: 500;
   line-height: 160%;
   transition: 0.400s;
   position: relative;
}

.menu__link:hover::before {
   content: "";
   position: absolute;
   width: 135%;
   height: 3px;
   background: #2D74FF;
   bottom: -12px;
   border-radius: 2px;
   left: 50%;
   transform: translate(-50%, -50%);
}

.menu__link:hover {
   color: #2D74FF;
}

@media(max-width:1090px) {

   .header__menu,
   .header__button {
      display: none;
   }

   .header__container {
      /* min-height: 80px; */
   }
}

/* ==================================== HERO ======================================= */
.hero {
   padding-top: 58px;
}

.hero__container {
   animation: hero 1s linear;
}


@keyframes hero {
   0% {
      transform: translateY(100px);
   }

   100% {
      transform: translateY(0);
   }
}

.hero__container {
   display: flex;
   align-items: center;
   justify-content: center;
}


.hero__title {
   font-family: 'Gelasio';
   font-weight: 600;
   font-size: 57px;
   line-height: 1.1;
   max-width: 519px;
   margin-bottom: 44px;
}

.hero__title span {
   color: #2D74FF;
}

.hero__actions {
   display: flex;
   align-items: center;
}

.hero__button {
   margin-right: 40px;
}

.hero__link a {
   font-size: 18px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   opacity: 0.7;
   padding-top: 2px;
}

.hero__link {
   display: flex;
   align-items: center;
   gap: 10px;
   position: relative;
}

.hero__link::after {
   content: "";
   position: absolute;
   width: 53px;
   height: 53px;
   background: #2D74FF;
   opacity: 0.12;
   border-radius: 50%;
   transform: scale(1.3);
   animation: play-circle 1s infinite ease;
}

@keyframes play-circle {
   0% {
      transform: scale(1.3);
   }

   100% {
      opacity: 0;
      transform: scale(3);
   }
}

.hero__link::before {
   content: url("../img/hero/play.svg");
   width: 50px;
   height: 50px;
}

.hero__decor {}

.hero__img {}

.hero__img img {
   /* max-width: 537px; */
   max-width: 750px;
   height: 500px;
}

@media(max-width:1030px) {
   .hero__img img {
      max-width: 650px;
      height: 400px;
   }

   .subtitle {
      font-size: 16px;
      line-height: 1.3;
      margin-bottom: 12px;
   }

   .hero__title {
      font-size: 44px;
      line-height: 1.1;
      margin-bottom: 34px;
   }
}

@media(max-width:920px) {
   .hero__img img {
      max-width: 550px;
      height: 300px;
   }
}

@media(max-width:920px) {
   .hero__img {
      display: none;
   }

   .hero__container {
      justify-content: flex-start;
   }
}

@media(max-width:479.98px) {

   .hero__actions {
      flex-wrap: wrap;
      justify-content: center;
   }

   .hero__button {
      flex: 1 1 100%;
      margin-right: 0;
      margin-bottom: 15px;
   }
}

/* =========================== COMMUNITY ============================== */
.main__community {
   padding: 141px 0 140px;
}

.community {}

.community__container {
   display: flex;
   justify-content: space-between;
   animation: community 1s linear;
}

@keyframes community {
   0% {
      transform: translateY(150px);
   }

   100% {
      transform: translateY(0);
   }
}

.community__content {}

.community__subtitle {}


.community__title {
   max-width: 292px;
   margin-bottom: 25px;
}

.community__text {
   margin-bottom: 40px;
   max-width: 423px;
}

.community__button {}


.community-video__video {
   display: flex;
   flex-wrap: wrap;
}

.community-video__video video {
   max-width: 555px;
}


@media(max-width:1030px) {
   .main__community {
      padding: 100px 0 100px;
   }

   .community-video__video video {
      max-width: 100%;
   }

   .community-video__video,
   .community__content {
      padding: 0 10px 0;
   }

}

@media(max-width:920px) {
   .main__community {
      padding: 80px 0 80px;
   }

   .community__text {
      margin-bottom: 20px;
   }
}

@media(max-width:770px) {
   .main__community {
      padding: 50px 0 50px;
   }

   .community__container {
      flex-wrap: wrap;
      justify-content: center;
   }

   .community__text {
      max-width: 100%;
   }

   .community__content {
      margin-bottom: 30px;
   }

}

@media(max-width:479.98px) {
   .main__community {
      padding: 50px 0 50px;
   }

   .community__content {
      margin-bottom: 20px;
   }

}

/* ================================= WORK ==================================== */
.work {
   text-align: center;
   padding-bottom: 70px;
  
}

.work__container{
 animation: work 1s linear;
}

@keyframes work {
   0% {
      transform: translateY(250px);
   }
   100% {
      transform: translateY(0);
   }

}

.work__container {}

.work__title {
   margin-bottom: 60px;
}

.title {}

.work__list {
   display: grid;
   grid-template-columns: repeat(3, auto);
   gap: 30px;
}

.work__item {}

.item-work {
   padding: 23px;
   opacity: 0.7;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   background: #fff;
   text-align: center;
   margin: 0 auto;
   transition: all 0.3s ease 0s;
}

.item-work__icon {
   width: 100px;
   height: 100px;
   background: #F8F8F8;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   margin-bottom: 20px;
}

.item-work__title {
   font-family: 'Gelasio';
   font-weight: 500;
   font-size: 24px;
   line-height: 1.5;
   opacity: 0.7;
   margin-bottom: 15px;
}

.item-work__text {
   font-size: 18px;
   line-height: 1.5;
   opacity: 0.7;
}

.item-work:hover .item-work__title {
   opacity: 1;
}

.item-work:hover {
   transform: translateY(-25px);
}

@media (max-width: 991.98px) {
   .work__list {
      gap: 20px;
   }

   .item-work {
      padding: 15px;
   }

   .item-work__icon {
      width: 70px;
      height: 70px;
      margin-bottom: 15px;
   }

   .item-work__icon img {
      max-width: 30px;
   }
}

@media (max-width: 770px) {
   .work {
      text-align: center;
      padding-bottom: 50px;
   }

   .work__list {
      grid-template-columns: repeat(2, auto);

   }

   .item-work:nth-child(3) {
      grid-column: 2 span;
   }

   .work__title {
      margin-bottom: 40px;
   }
}

@media (max-width: 600px) {
   .work__list {
      grid-template-columns: repeat(1, auto);
      gap: 20px;
   }

   .item-work:nth-child(3) {
      grid-column: 1 span;
   }

   .work__title {
      margin-bottom: 30px;
   }
}

@media(max-width:479.98px) {
   .work__title {
      margin-bottom: 30px;
   }

   .work__list {
      gap: 10px;
   }

   .work {
      text-align: center;
      padding-bottom: 30px;
   }

   .item-work__icon {
      margin-bottom: 15px;
   }
}